name: Docker Image CI
on:
  push:
    branches: [ '*' ]

jobs:
  build-image:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Build
        run: make -j2 build BRANCH_NAME=${GITHUB_REF##*/}

      - name: Disable arm64
        run:  sed -i s,linux_arm64,, cluster/images/*/Makefile

      - name: Promote Artifacts
        run: make -j2 publish BRANCH_NAME=${GITHUB_REF##*/} PLATFORMS=linux_amd64
        env:
          VERSION: "0.18-sb1-1"
          CHANNEL: "master"
          DOCKER_REGISTRY: ghcr.io/chlunde
